@media only screen and (max-width: 1920px) {
	section.adaptive {
		display: none;
	}
}

@media only screen and (max-width: 1440px) {
	section.adaptive {
		display: none;
	}

	nav.header-calendar-search div.welcome {
    	margin-left: 80px;
	}

    div.calendar-search-wrapper-right {
        right: 75px;
        margin-left: 50px;

    }

    div.create-meetup {
    	margin-left: 300px;
	}

	div.create-meetup_archive-wripper {
		margin-left: 0;
	}

	div.calendar-search-wrapper-left {
		margin-top: 220px;
	}

	table.table-meetup {
    	margin-left: 100px;
	}

	div.calendar-search-wrapper-right {
    	margin-top: 220px;
	}

	div.expexted,
	a.expexted,
	a.finished {
	margin-left: 100px;
	margin-bottom: 20px;
	}
}


@media only screen and (max-width: 1280px) {
	section.adaptive {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		text-align: center; 
		background: var(--bg-dark);
		color: #fff;
	}

	section.adaptive p {
		width: 80%;
		border: 2px solid #fff;
		padding: 1rem;
	}

	main {
		display: none;
	}
}


@media only screen and (max-width: 768px) {}


@media only screen and (max-width: 375px) {}


@media only screen and (max-width: 320px) {}