/* ----- Sign Up | Log In START ----- */

div.main-container {}

div.calendar-link {
    margin-top: 25px;
    margin-left: 176px;
}

div.calendar-link a {
    position: relative;
    color: lightgrey;

}

div.calendar-link a:hover {
    color: var(--bg-dark);
}

div.calendar-link a::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: var(--color-5);
    left: -30px;
    top: 4px;
}

form.welcome-with {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: lightgrey;
}

form.welcome-with h3 {
    font-weight: normal;
    margin-top: 20px;
}

form.welcome-with div.email input,
form.welcome-with div.password input {
    width: 600px;
    height: 64px;
    border: 2px solid var(--bg-dark);
    border-radius: 2px;
    margin-top: 24px;
}

form.welcome-with div.email input::placeholder,
form.welcome-with div.password input::placeholder {
    text-align: center;
    color: var(--bg-dark);
}

form.welcome-with a.btn {
    position: relative;
    border: none;
    background: none;
    color: var(--bg-dark);
    font-weight: bold;
    margin-top: 24px;
    cursor: pointer;
}

form.welcome-with a.btn:hover {
    color: var(--color-5);
}

form.welcome-with a.btn::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: var(--color-5);
    right: -30px;
    top: 4px;
}

form.welcome-with p.or {
    position: relative;
    min-width: 600px;
    min-height: 64px;
    text-align: center;
    font-weight: normal;
    color: var(--bg-dark);
}

form.welcome-with p.or::before,
form.welcome-with p.or::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 1px;
    background: var(--bg-dark);
    top: 14px;
}

form.welcome-with p.or::before {
    left: 0;
}

form.welcome-with p.or::after {
    right: 0;
}

form.welcome-with div.welcome-with-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 600px;
    min-height: 64px;
}

form.welcome-with div.welcome-with-wrapper a {
    position: relative;
    color: var(--bg-dark);
}

form.welcome-with div.welcome-with-wrapper a:hover {
    color: var(--color-5);
}

form.welcome-with div.welcome-with-wrapper a::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: var(--color-5);
    left: -30px;
    top: 3px;

}

form.welcome-with p.service {
    min-width: 600px;
    min-height: 64px;
    font-weight: normal;
    text-align: center;
}

form.welcome-with p.service a {
    color: var(--bg-dark);
    text-decoration: underline;
}

form.welcome-with p.service a:hover {
    color: var(--color-5);
}

div.main-container {
    position: relative;
    height: 100vh;
}

div.main-container a.copyright {
    position: absolute;
    font-weight: normal;
    color: var(--bg-dark);
    bottom: 10px;
    right: 10px;
}

div.checkbox {
    text-align: center;
}

#main>div>form>div.checkbox>p:nth-child(1)>label>input[type=checkbox],
#main>div>form>div.checkbox>p:nth-child(2)>label>input[type=checkbox] {
    width: 20px;
    height: 20px;
}


div.checkbox p.wrapper span {
    font-weight: normal;
}

div.checkbox p.wrapper span a {
    color: var(--bg-dark);
    text-decoration: underline;
}

/* ----- Sign Up | Log In END -----*/