:root {
	--color-1: #4D5057;
	--color-2: #4E6E5D;
	--color-3: #4DA167;
	--color-4: #3BC14A;
	--color-5: #CFCFCF;

	--bg-color: #C4C4C4;
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}


body {
	margin: 0;
	padding: 0;

	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;

	color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: var(--color-5);
}

a:active {
	color: var(--color-5);
}

ul {
	list-style: none;
}


div.container {
	display: flex;
	width: 1400px;
	margin: 0 auto;
}


nav {
	display: flex;

}

.bg-color {
	background: var(--bg-color);
}

div.logo {
	display: flex;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 27px 0 0 54px;
}

div.logo a {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	text-transform: uppercase;
}

div.search {
	position: relative;
	margin-left: 67px;
	margin-top: 63px;
}

div.search::before {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	background: var(--color-5);
	left: 15px;
	top: 23px;
}

div.search input {
	min-width: 716px;
	min-height: 64px;
	border-radius: 5px;
	padding: 4px;
	padding-left: 45px;
	border: none;
}

div.search input::placeholder {
	color: #fff;
}

div.wrapper {
	margin-top: 132px;
	margin-bottom: 35px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

div.building-java,
div.building-kafka,
div.building-ui_ux_design,
div.building-python {
	bottom: 35px;
	width: 232px;
	height: 650px;
	border-radius: 10px;
	margin-left: 54px;
}

div.building-kafka,
div.building-ui_ux_design,
div.building-python {
	margin-left: 10px;
}

div.building-kafka {
	height: 765px;
}

div.building-ui_ux_design {
	height: 700px;
}

div.building-python {
	height: 620px;
}

div.title {
	display: flex;
	height: 64px;
	justify-content: center;
	align-items: center;
}

div.icon-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div.building-java div.icon,
div.building-kafka div.icon,
div.building-ui_ux_design div.icon,
div.building-python div.icon {
	width: 50px;
	height: 51px;
	background: var(--bg-color);
	border: 2px solid #FFFFFF;
	margin: 9px 7px;
}

div.building-kafka div.icon {
	height: 65px;
}

div.building-ui_ux_design div.icon {
	height: 57px;
}

div.building-python div.icon {
	height: 47px;
}

div.building-java div.icon:hover,
div.building-kafka div.icon:hover,
div.building-ui_ux_design div.icon:hover,
div.building-python div.icon:hover {
	border-color: var(--color-5);
	cursor: pointer;
}

div.right-col {
	margin-left: 50px;
}

div.welcome {
	position: relative;
	width: 375px;
	height: 206px;
	background-image: url(../img/zeppelin.svg);
	
}

div.welcome a {
	position: absolute;
	left: 90px;
	top: 80px;
	text-transform: uppercase;
}

div.calendar {
	position: relative;
	width:300px;
	height: 415px;
	border-radius: 5px;
	margin-top: 30px;
	
}
	
div.calendar::before,
div.calendar::after {
	position: absolute;
	content: "";
	width: 4px;
	height: 140px;
	background: var(--bg-color);
}

div.calendar::before {
	top: -140px;
	left: 50px;
}

div.calendar::after {
	top: -140px;
	right: 50px;
}

div.calendar data {
	position: relative;
	display: flex;
	justify-content:center;
	padding-top: 16px; 
}

div.calendar data::before {
	position: absolute;
	content: "";
	width: 20px;
    height: 20px;
    background: var(--color-5);
    left: 50px;
    top: 20px;
}

div.meetup-wrapper {
	display: flex;
	align-items: center;
}

ul.time li,
ul.meetup li {
	font-weight: normal;
	padding-top: 16px;
}
	

.footer {
	display: flex;
	text-align: center;
	position: relative;
	width: 300px;
	height: 262px;
	border-radius: 5px;
	margin-top: 90px;
	padding-left: 20px;
}


.footer:before,
.footer:after {
	position: absolute;
	content: "";
	width: 4px;
	height: 90px;
	background: var(--bg-color);
}

.footer:before {
	top: -90px;
	left: 50px;
}

.footer:after {
	top: -90px;
	right: 50px;
}

.footer li {
	padding-top: 10px;
}

 li.copyright {
 	font-weight: normal;
 	padding-top: 90px;
 }






