@import "main.css";
@import "signuplogin.css";
@import "calendar.css";
@import "userpage.css";

:root {
    --color-1: #f2f2f2;
    --color-2: #bfbfbf;
    --color-3: #808080;
    --color-4: #404040;
    --color-5: #CFCFCF;

    --bg-dark: #C4C4C4;
    --bg-light: #e4e4e4;

    --primary: #000;

    --secondary: #fff;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bg-dark);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-1);
}


body {
    margin: 0;
    padding: 0;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #fff;

}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: var(--color-5);
}

a:active {
    color: var(--color-5);
}

ul {
    list-style: none;
}

.bg-color {
    background: var(--bg-dark);
}

.color-bg {
    color: var(--bg-dark);
}

