/* Coolors Exported Palette - https://coolors.co/4d5057-4e6e5d-4da167-3bc14a-cfcfcf */

/* HSL */
$color1: hsla(222%, 11%, 34%, 1);
$color2: hsla(148%, 29%, 43%, 1);
$color3: hsla(139%, 52%, 63%, 1);
$color4: hsla(127%, 69%, 76%, 1);
$color5: hsla(0%, 0%, 81%, 1);

/* RGB */
$color1: rgba(77, 80, 87, 1);
$color2: rgba(78, 110, 93, 1);
$color3: rgba(77, 161, 103, 1);
$color4: rgba(59, 193, 74, 1);
$color5: rgba(207, 207, 207, 1);

/* HEX */
$color1: #4d5057ff;
$color2: #4e6e5dff;
$color3: #4da167ff;
$color4: #3bc14aff;
$color5: #cfcfcfff;

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #4d5057ff, #4e6e5dff, #4da167ff, #3bc14aff, #cfcfcfff);
$gradient-right: linear-gradient(90deg, #4d5057ff, #4e6e5dff, #4da167ff, #3bc14aff, #cfcfcfff);
$gradient-bottom: linear-gradient(180deg, #4d5057ff, #4e6e5dff, #4da167ff, #3bc14aff, #cfcfcfff);
$gradient-left: linear-gradient(270deg, #4d5057ff, #4e6e5dff, #4da167ff, #3bc14aff, #cfcfcfff);
$gradient-top-right: linear-gradient(45deg, #4d5057ff, #4e6e5dff, #4da167ff, #3bc14aff, #cfcfcfff);
$gradient-bottom-right: linear-gradient(135deg, #4d5057ff, #4e6e5dff, #4da167ff, #3bc14aff, #cfcfcfff);
$gradient-top-left: linear-gradient(225deg, #4d5057ff, #4e6e5dff, #4da167ff, #3bc14aff, #cfcfcfff);
$gradient-bottom-left: linear-gradient(315deg, #4d5057ff, #4e6e5dff, #4da167ff, #3bc14aff, #cfcfcfff);
$gradient-radial: radial-gradient(#4d5057ff, #4e6e5dff, #4da167ff, #3bc14aff, #cfcfcfff);